@font-face {
    font-family:'BigShoulders';
    src: url("./Fonts/Big_Shoulders/static/BigShoulders-Thin.ttf");
}
@font-face {
    font-family: 'LexendDeca';
    src: url(./Fonts/Lexend_Deca/static/LexendDeca-Light.ttf);
}
.container{
    max-width: 680px;
    display: grid;
    grid-template-columns: repeat(3,226px);
    min-height: 100vh;
    align-items: center;
    margin: 0 auto;
}

.Sedans,
.SUVs,
.Luxury{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px;
    height: 300px;
    font-family: 'LexendDeca';
}


.Sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
}

.SUVs {
    background-color: hsl(184, 100%, 22%);
}

.Luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'BigShoulders', sans-serif;
}

p {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

button {
    padding: 10px 20px;
    border-radius: 50px;
    
    border:2px solid hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%)
}
button:hover{
    background-color: transparent;
    color: white;
    
}

.Sedanslearn {

    color: hsl(31, 77%, 52%);
}

.SUVslearn {
    color: hsl(184, 100%, 22%);
}

.Luxurylearn {
    color: hsl(179, 100%, 13%);
}


@media screen and (max-width : 400px){
    .container{
        display: flex;
        flex-direction: column;
        max-width: 275px;
        width: 100%;

    }
    .Sedans {
        border-radius: 10px 10px 0px 0px;
    }
    .Luxury {
        border-radius: 0px 0px 10px 10px;
    }
    .Sedans,
    .SUVs,
    .Luxury{
    height: auto;
    }
}